*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.bg-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px);
  transform: scale(1.05); 
  opacity: 0.35;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}
.content h1{
    text-align: center;
    margin-top: 10vh;
    position: relative;
    z-index: 2;
    color: #a67a72;
    font-size: 4rem;
    animation: fadeIn 1.5s ease-out forwards;
}
.content h2{
    text-align: center;
    position: relative;
    z-index: 2;
    color: #a67a72;
    font-size: 4rem;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 0.8s; 
    opacity: 0;
}
.btn{
     display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay:1.5s; 
    opacity: 0;

}
.btn button{
    padding: 20px 10px;
    border: #a67a72;
    border-radius: 10px;
    background-color: #a67a72;
    color: burlywood;
    font-family: "Playfair Display", serif;
    transition: 0.3s ease-out;
    font-size: 1.5rem;
}
.btn button:hover{
    background-color: #f9c1b8;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}
.fadeInAnimation{
    animation: fadeIn 1.5s ease-out forwards;
}
.fadeOut{
    opacity: 0;
    transition: opacity 1.5s ease;
    pointer-events: none;
}