*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}
.fadeInAnimation{
    animation: fadeIn 1.5s ease-out forwards;
}
.fadeOutAnimation {
    animation: fadeOut 1.5s ease forwards;
}
.bg-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px);
  transform: scale(1.05); 
  opacity: 0.35;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}
.content h1{
    text-align: center;
    margin-top: 24vh;
    position: relative;
    z-index: 2;
    color: #a67a72;
    font-size: 3rem;
    animation: fadeIn 1.5s ease-out forwards;
}
.content h2{
    text-align: center;
    position: relative;
    z-index: 2;
    color: #a67a72;
    font-size: 3rem;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 0.8s; 
    opacity: 0;
}
.btn{
     display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay:1.5s; 
    opacity: 0;

}
.btn button{
    padding: 20px 10px;
    border: #a67a72;
    border-radius: 10px;
    background-color: #a67a72;
    color: burlywood;
    font-family: "Playfair Display", serif;
    transition: 0.3s ease-out;
    font-size: 1rem;
    outline: none;
}
.btn button:hover{
    background-color: #f9c1b8;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}


.content2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:24vh;
    opacity: 1;
}
.card-1{
    padding: 20px;
    background-color: rgba(184, 217, 124, 0.8);;
    width: 30vw;
    height:20vh;
    border:2px solid #c1fc63;
    border-style:dashed;
    color:#c06767 ;
    border-radius: 20px;
    font-size: 1.5rem;
    overflow: auto;
}
.card-1 button{
    margin-top: 20px;
    border: none;
    width: 7vw;
    height: 4vh;
    color: #CF0F0F;
    background-color: #FFE4EF;
    transition: 0.5s ease-in-out;
    outline: none;
    border-radius: 10px;
    padding: px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.btn2{
   display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.card-1 button:hover{
    cursor: pointer;
    background-color: #FF5555;
    color: white;
     transform: scale(1.1);
}
@media screen and (max-width: 1300px) {
  .card-1 {
    overflow: auto;
   
    max-height: 400px; 
  }
}
.content3{
    display: flex;
    margin: auto;
    margin-top: 24vh;
    opacity: 1;
    height: 15vh;
    width: 30vw;
    background-color: #FFE4EF;
    border-style:dashed;
    border-color: #F39EB6;
    border-radius: 20px;
    overflow: auto;
    padding: 20px;
     font-size: 1.4rem;
}
.card-2 button{
    margin-top: 10px;
    border: none;
    width: 8vw;
    height: 3vh;
    color: #CF0F0F;
    background-color: #ed7fab;
    transition: 0.5s ease-in-out;
    outline: none;
    border-radius: 10px;
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px px;
}
.card-2 button:hover{
      cursor: pointer;
    background-color: #FF5555;
    color: white;
     transform: scale(1.1);
}
.content4 p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 24vh;
    background-color: #F39EB6;
    width: 30vw;
    height: 30vh;
    padding: 24px;
    border-color: #FDEDED;
    border-style: dashed;
    color: #FFF;
    font-size: 2.5rem;
    border-radius: 20px;
    
}